body {
    background: url("../images/opening.jpg");
    background-size: 100%;
}

#rpgText {
    font-family: 'Permanent Marker', cursive;
    font-size: 60pt;
    line-height: .75;
}

.card {
    max-width: 200px;
}